
    <div class="navbar navbar-expand-lg navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav ">
                    <li class="">@Html.ActionLink("Customer", "index", "customers")</li>
                    <li class="">@Html.ActionLink("movie", "index", "movies")</li>
                    <li class="">@Html.ActionLink("Contact", "Contact", "Home")</li>

               
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @Html.Partial("_loginPartial")
                </ul>
                
                
            </div>
           
        </div>

       
        </divt
